*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0  auto;
  text-align: center;
  width: 550px;
  height: 868px;
  background: #23252C;
}

.container{
  margin: 70px auto;
  background: #1A1B21;
  max-width: 317px;
  height: 780px;
  border-radius: 10px;
}

